# compiled output
/dist
server/dist*
server/.nyc_output*
client/dist*
/tmp

# dependencies
package-lock.json
**/node_modules
yarn.lock
package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode

# misc
/.sass-cache
/connect.lock
/coverage/*
/coverage_server/*
/e2e-reports/*
/bundle-report
**/.env
/libpeerconnection.log
/server/newrelic_agent.log
newrelic_agent.log
npm-debug.log
testem.log
/typings

# e2e
/client/e2e/**/*.js
/client/e2e/**/*.d.ts
/client/e2e/**/*.map
/client/e2e/downloads/*

#System Files
.DS_Store
Thumbs.db
debug.log

# translations files
client/src/assets/i18n/**/*.json
